
/*Layout default*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Card: struttura e animazione*/

.card {
    margin: 300px auto;
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 16px;
    transition: box-shadow 0.4s linear;
}

.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*SAVE bottone*/

.callToaction {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #E60022;
    color: white;
    border-radius: 24px;
    padding: 16px 24px;
    border-width: 0;
    transition: transform 0.4s linear;
    user-select: none;
    font-weight: 700;  
    transform: translateY(-150%); 
}

.callToaction:hover {
    transform: translateY(100%);
    cursor: pointer;
}

/*Elementi e bottoni parte inferiore*/

#cardInteraction {
    /*position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;*/
    transform: translateY(-150%);
}

#imageUrl {
    display: inline;
    position: absolute;
    bottom: 8px;
    left: 8px;
    /*right: 16px;*/
    width: 40%;
    padding: 8px 16px;
    margin: 8px;
    background-color: rgba(234, 234, 234, .85);
    border-radius: 16px;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.upload, .ellipsis {
    position: absolute;
    bottom: 8px;
    padding: 8px;
    margin: 8px;
    background-color: white;
    border-radius: 50%;
    font-size: 1em;
    background-color: rgba(234, 234, 234, .85);
}

.upload {
    right: 25%;
}

.ellipsis {
    right: 8px;
}   

.upload, .ellipsis:hover {
    cursor: pointer;
}

span {
   margin-left: 8px;
   font-size: 1em;
}